<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
    th:href="@{/bootstrap/css/bootstrap.min.css}">
    <title>Title</title>
</head>
<body>
    <div class="container mt-5">
        <ul class="list-group" th:if="${!todos.isEmpty()}">
            <li th:each="todo : ${todos}" class="list-group-item">
                <span th:text="${todo.title}"></span>
            </li>
        </ul>

        <ul class="list-group" th:if="${todos.isEmpty()}">
            <li class="list-group-item">
                <div> No Content</div>
            </li>
        </ul>
        <hr class="m-4">

        <form th:action="@{/create-todo}" th:object="${todo}" method="post">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" th:field="*{title}" class="form-control">
                <br class="m-4">
                <input type="submit" value="Save ToDo" class="btn btn-primary w-100">
            </div>
        </form>
    </div>
</body>
</html>